[Unit]
Description=Run backup-projects.sh every hour

[Timer]
# The schedule remains the same
OnCalendar=*:0/1
Persistent=true

[Install]
WantedBy=timers.target
