[Unit]
Description=Personal PDF.js Server
# 添加一个依赖项，确保网络连接后再启动服务 (可选但推荐)
After=network-online.target
Wants=network-online.target

[Service]
# 【关键修改】工作目录必须是你的主目录，这样才能同时访问到
# ~/.local/share/pdfjs-dist 和 ~/MyShare_sync/bookshelf
WorkingDirectory=__HOME_DIR__
ExecStart=/usr/bin/python3 -m http.server 8080
Restart=always

[Install]
WantedBy=default.target
